.tablet {
  text-align: center;
  font-size: 0.875rem;
  padding-bottom: 100px;
  p {
    max-width: 750px;
    margin: 0 auto;
  }
  .tablet-items {
    justify-content: center;
    .tablet-item {
      border: 1px solid $graphite;
      flex: 0 0 166px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 5px;
      margin: 50px 10px;

      &__title {
        font-size: 1.25rem;
        font-weight: 900;
        text-transform: uppercase;
      }
    }
  }
}

.slider {
  height: 700px;
  margin-top: 50px;
  @media (max-width: 992px) {
    height: 500px;
    margin-bottom: 50px;
  }
}