
header {
  .navigation-responsive {
    @media (min-width: 1200px) {
      display: none;
    }
    background-color: $l-dark;
    padding-top: 15px;
    transition: all .3s;
    .header {
      align-items: center;
      position: relative;
      &__nav {
        flex: 1 0 0%;
        justify-content: center;
      }
      &__ham {
        flex: 0 0 70px;
      }
      .header-nav {
        flex: 1 0 0%;
      }
      &__logo {
        .header-logo {

        }
        .logo-disable {
          display: none;
        }
      }
      .header-nav {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 1.438rem;
          text-transform: uppercase;
          text-align: center;
          list-style: none;
          position: absolute;
          height: 100vh;
          top: 100%;
          right: 0;
          left: 0;
          z-index: 1;
          background-color: $graphite;
          visibility: hidden;
          opacity: 0;
          transform: translateY(-100%);
          transition: transform 0.3s ease-out, opacity 0.3s ease-out;
          &.active {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }

        &__item {
          padding-bottom: 32px;
          a {
            color: $d-gray;
            font-weight: 900;
            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  .nav-active {
    background-color: $graphite;
  }

  .header-content {
    background-color: $l-dark;
    &__content {
      padding-top: 90px;
      padding-bottom: 40px;
      text-align: center;
      img {
        margin-bottom: 67px;
        width: 100%;
        max-width: 1160px;
        height: auto;
      }
      p {
        display: flex;
        flex-direction: column;
        align-items: center;
        &:after {
          content: '';
          background: url("/img/arrow.svg") no-repeat;
          width: 45px;
          height: 25px;
          margin-top: 40px;
        }
      }
    }
  }
}
